*.log
*.pyc
i3/config
i3/config.previous
i3/scripts/.config
i3/scripts/**/.config
liquidprompt/
dotbot/
autokey/autokey.log
autokey/autokey.pid
*~
byobu/.ssh-agent
core
shutter/accounts.xml
shutter/profiles/*accounts.xml
shutter/session.xml
