[Desktop Entry]
Version=1.0
Name=Czaban Podcast Hour 3
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
GenericName=Czaban Podcast Hour 3
# Gnome and KDE 3 uses Comment.
Comment=Czaban Podcast Hour 3
Exec=czaban --hour 3
Terminal=true
Type=Application
Categories=Entertainment;
