[Desktop Entry]
Version=1.0
Name=Next Wallpaper
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
GenericName=Next Wallpaper
# Gnome and KDE 3 uses Comment.
Comment=Next Wallpaper
Exec=krawall --hacker --next
Terminal=false
Type=Application
Categories=Entertainment;
